<!-- This script is based on https://observablehq.com/@d3/chord-dependency-diagram -->
<script>
  const targetElementSelector = "#hotspots-overview"

  const parent = document.querySelector(targetElementSelector)
  const parentWidth = parent.offsetWidth
  const outerDiameter = parentWidth
  const center = parentWidth / 2

  const svg = d3.select(targetElementSelector)
    .append("svg")
    .attr("width", outerDiameter)
    .attr("height", outerDiameter)
    .append("g")
    .attr("transform", "translate(" + center + "," + center + ")")

  const chord = d3.chordDirected()
    .padAngle(0.05)
    .sortSubgroups(d3.descending)
    .sortChords(d3.descending)

  const matrix = [
    [0, 5871, 8916, 2868],
    [1951, 0, 2060, 6171],
    [8010, 16145, 0, 8045],
    [1013, 990, 940, 0]
  ]

  const chords = chord(matrix)

  const group = svg.append("g")
      .attr("font-size", 10)
      .attr("font-family", "sans-serif")
    .selectAll("g")
    .data(chords.groups)
    .join("g")

  // add the groups on the outer part of the circle
  const outerRadius = outerDiameter / 2
  const margin = 10
  const innerRadius = outerRadius - margin

  arc = d3.arc()
    .innerRadius(innerRadius)
    .outerRadius(outerRadius)

  const names = ["One", "Two", "Three", "Four"]
  const color = d3.scaleOrdinal(names, d3.quantize(d3.interpolateRainbow, names.length + 1))

  group.append("path")
    .style("fill", d => color(names[d.index]))
    .attr("d", arc)

  group.append("text")
    .each(d => (d.angle = (d.startAngle + d.endAngle) / 2))
    .attr("dy", "0.35em")
    .attr("transform", d => `
      rotate(${(d.angle * 180 / Math.PI - 90)})
      translate(${outerRadius + 5})
      ${d.angle > Math.PI ? "rotate(180)" : ""}
    `)
    .attr("text-anchor", d => d.angle > Math.PI ? "end" : null)
    .text(d => names[d.index]);

  group.append("title")
    .text(d => `${names[d.index]}
${d3.sum(chords, c => (c.source.index === d.index) * c.source.value)} outgoing →
${d3.sum(chords, c => (c.target.index === d.index) * c.source.value)} incoming ←`);

  // Add the links between groups
  const ribbon = d3.ribbonArrow()
    .radius(innerRadius - 1)
    .padAngle(1 / innerRadius)

  svg.append("g")
      .attr("fill-opacity", 0.75)
    .selectAll("path")
    .data(chords)
    .join("path")
    .style("mix-blend-mode", "multiply")
      .attr("fill", d => color(names[d.target.index]))
      .attr("d", ribbon)
    .append("title")
      .text(d => `${names[d.source.index]} → ${names[d.target.index]} ${d.source.value}`)
</script>